body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
}

#help {
    font-size: 60px;
    color: white;
    text-align: center;

}

.display {
    padding: 170px;
}

.hd-img {
    background-image: url(image/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;

}

.hd-img p {
    color: white;
    text-align: center;
}

.now {
    text-align: center;
}

.a1 {
    background-color: tomato;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
}

#h2 {
    font-size: 40px;
    text-align: center;
}

.give {
    text-align: center;
}

.box {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: 1px solid white;
    display: inline;
    padding: 2.5%;
    margin: 5px;
    border-radius: 5px;
}

.tk {
    text-align: center;
    font-weight: bolder;
    color: gray;
}

.tk1 {
    border: 3px solid tomato;
    color: tomato;
    background-color: rgb(255, 219, 212);
}

#other {
    text-align: center;
    color: rgb(189, 189, 189);
}

.display-1 {
    display: flex;
    padding: 5%;
    margin-left: 10%;

}

.donate {
    background-color: rgb(70, 251, 251);
    margin-left: 2%;
    padding: 3%;
    width: 250px;
    height: 250px;
    border-radius: 6px;
}

.donate2 {
    background-color: rgb(246, 194, 131);
    margin-left: 2%;
    padding: 3%;
    width: 250px;
    height: 250px;
    border-radius: 6px;
}

.donate3 {
    background-color: rgb(244, 211, 169);
    margin-left: 2%;
    padding: 3%;
    width: 250px;
    height: 250px;
    border-radius: 6px;
}

.plan {
    font-size: 50px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 1%;
    color: whitesmoke;
}

.humble {
    font-family: 'Lobster', cursive;
    color: tomato;
}

.food {
    display: flex;
    padding: 100px;

}

.on {
    width: 50%;
    padding-left: 120px;

}

.on img {
    width: 90%;
    border-radius: 6px;
}

.get {
    text-align: center;
    padding: 3%;
}

#input {
    background-color: rgb(252, 227, 219);
    margin-left: 350px;
    margin-right: 350px;
    padding: 4%;
    border-radius: 5px;
}

input {
    width: 40%;
    padding: 15px 3px;
    margin: 6px 0;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;


}

button {
    width: 20%;
    padding: 15px 3px;
    margin-left: -5px;
    background-color: rgb(253, 93, 64);
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}